<div class="container">
  <div class="row">

<!--     <div class="col-xs-12 col-sm-">
    <%= @chew_question_whip %>
  </div> -->

    <div class="col-xs-12 col-sm-6">
      <div>
         <img src="images/chew.jpeg" alt="" class="chewie">
      </div>

      <div>
         <form action="/" method="get">
          <input type="text" name="search_term" placeholder="put 1 to 88 to find starwars characters">
          <input type="submit">
        </form>
      </div>
    </div>

  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <%= @data_from_api %>
    </div>
  </div>
</div>
