<div class="container">
  <div class="chewie-part">
    <%= image_tag "chewhead.png", class: "chewie" %>
  </div>

  <div class="data-part">
    <h1>Ask Chewie!</h1>
    <div class="form">
        <form action="/" method="get" class="search-bar">
          <input type="text" name="search_term" placeholder="put 1 to 88 to find starwars characters">
          <input type="submit">
          <input type="submit" value="wookie" class="wookiever">
        </form>
    </div>

    <div class="data">
        <h2><%= @data_from_api["name"] %></h2>
        <%= @data_from_api["homeworld"] %>
    </div>
  </div>
</div>

