<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
    <%= @chew_question_whip %>
    </div>

    <div class="col-xs-12 col-sm-4">
      <div>
       <img src="" alt="wookie">
     </div>

     <div>
       <form action="/" method="get">
        <input type="text" name="search_term" placeholder="put 1 to 88 to find starwars characters">
        <input type="submit">
      </form>
    </div>
  </div>

  <div class="col-xs-12 col-sm-4">
  <%= @data_from_api %>
  </div>
</div>
</div>
